section{
    background: #b3b3b3;
    margin: 5px auto 0px auto;
    padding-top: 30px;
    padding-bottom: 10px;
    overflow: auto;
}

.bodas{
    padding: 15px;
    width: 85%;
}

.columnas{
    width:33%;
    float:left;
}

.album{
    margin-left:80px;
    padding-left: 30px;
    background: #474747;
    width: 85%;
    margin-bottom: 40px;
    overflow: auto;
}
.col2{
    width: 50%;
    float: left;
}
.px350{
    padding: 15px;
    width: 90%;
}