section{
    margin-top: 5px;
    background: black;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}

#camera {
    min-height: 530px;
    width: 100%;
    background: url("../Images/portada-00.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    border-top-left-radius:     20px 20px;
    border-top-right-radius:    20px 20px;

}
.frase{
    padding-top: 4%;
    padding-left: 2.5%;
    filter:invert(100%);
    width: 20%;
}

.imagenesportada{
    padding: 2%;
    width: 45%;
}